<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tao moi san pham</h1>
<form th:action="@{/product/create}" th:object="${product}"
      method="POST">
    <input type="hidden" th:field="*{id}"/>

    <div>
        <label>name</label>
        <input type="text" th:field="*{name}"/>
        <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>
    <div>
        <label>price</label>
        <input type="text" th:field="*{price}"/>
        <p style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
    </div>
    <div>
        <label>status</label>
        <input type="text" th:field="*{status}"/>
        <p style="color: red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>
    </div>
    <div>
        <label>producer</label>
        <input type="text" th:field="*{producer}"/>
    </div>

    <input type="submit" value="Create"/>
</form>
</body>
</html>