<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
  <meta charset="UTF-8">
  <title>Shop</title>
</head>
<body>
<nav th:replace="/layout :: nav"></nav>
<div class="col-9 mx-auto">
  <p>
    <a href="/shopping-cart">Your cart</a>
  </p>
  <table class="table table-striped">
    <thead>
    <tr style="background-color: #069A8E;color: white">
      <th class="col-2">ID</th>
      <th class="col-4">Name</th>
      <th class="col-2">Price</th>
      <th class="col-4">Add To Cart</th>
      <!--            <th>Delete</th>-->
      <!--            <th>View</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,loop : ${products}">
      <td th:text="${product.id}"></td>
      <td>
        <a th:href="@{/{id}/view(id=${product.getId()})}">
          <span th:text="${product.name}"></span>
        </a>
      </td>

      <td th:text="${product.price}"></td>
      <td><a class="btn btn-warning" th:href="@{/add/__${product.id}__(action='list')}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
      </a></td>
    </tr>
    </tbody>
  </table>
</div>

<!--<table border="1">-->
<!--    <tr>-->
<!--        <td>Name</td>-->
<!--        <td>Price</td>-->
<!--        <td>Add To Cart</td>-->
<!--    </tr>-->
<!--    <th:block th:each="product:${products}">-->
<!--        <tr>-->
<!--            <td th:text="${product.name}"></td>-->
<!--            <td th:text="${product.price}"></td>-->
<!--            <td><a th:href="@{/add/__${product.id}__(action='list')}">Add To Cart</a></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->
<footer th:replace="/layout :: footer"></footer>
</body>
</html>