<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tao moi contract</h1>
<form th:action="@{/contract/create}" th:object="${contractDto}"
      method="POST">
    <input type="hidden" th:field="*{id}"/>


    <div>
        <label>startDate</label>
        <input type="date" th:field="*{startDate}"/>
                <p style="color: red" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
    </div>
    <div>
        <label>endDate</label>
        <input type="date" th:field="*{endDate}"/>
                <p style="color: red" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
    </div>
    <div>
        <label>deposit</label>
        <input type="text" th:field="*{deposit}"/>
                <p style="color: red" th:if="${#fields.hasErrors('deposit')}" th:errors="*{deposit}"></p>
    </div>


    <div>
        <label>totalMoney</label>
        <input type="text" th:field="*{totalMoney}"/>
                <p style="color: red" th:if="${#fields.hasErrors('totalMoney')}" th:errors="*{totalMoney}"></p>
    </div>
    <div>
        <label>customer</label>
        <select th:field="*{customer}">
            <option th:each="customer:${customerList}" th:text="${customer.name}" th:value="${customer.id}"></option>
        </select>
    </div>
    <div>
        <label>facility</label>
        <select th:field="*{facility}">
            <option th:each="facility:${facilityList}" th:text="${facility.name}" th:value="${facility.id}"></option>
        </select>
    </div>
    <div>
        <label>employee</label>
        <select th:field="*{employee}">
            <option th:each="employee:${employeeList}" th:text="${employee.name}" th:value="${employee.id}"></option>
        </select>
    </div>

    <input type="submit" value="Create"/>
</form>
</body>
</html>