<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1 style="text-align: center">Danh sach bai hat</h1>
<h3 style="text-align: center" ><p th:text="${mess}"></p></h3>
<h4 ><a href="/create">Them moi bai hat</a></h4>
<table border="1" id="example" class="table table-striped table-bordered">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>artist</th>
        <th>category</th>
        <th>link</th>
        <th>chuc nang</th>
    </tr>
    <tr th:each="song,loop:${songList}">
        <td th:text="${loop.count}">id</td>
        <td th:text="${song.name}">name</td>
        <td th:text="${song.artist}">artist</td>
        <td th:text="${song.category}">category</td>
        <td> <a th:href="${song.link}"><span th:text="${song.link}"></span></a></td>

       <td>
           <a th:href="@{update/{id}(id=${song.id})}">edit</a>
           <a th:href="@{delete/{id}(id=${song.id})}">delete</a>
       </td>
    </tr>
</table>
</body>
</html>