<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tao moi danh muc</h1>
<form th:action="@{/category/save}" th:object="${category}"
      method="POST" novalidate="novalidate">

    <div>
        <input type="hidden" th:field="*{id}"/>
    </div>
    <div>
        <label>ten danh muc</label>
        <input type="text" th:field="*{name}"/>
    </div>

    <input type="submit" value="Create"/>
</form>
</body>
</html>