<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tao moi customer</h1>
<form th:action="@{/customer/create}" th:object="${customerDto}"
      method="POST">
    <input type="hidden" th:field="*{id}"/>

    <div>
        <label>code</label>
        <input type="text" th:field="*{code}"/>
        <p style="color: red" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>
    </div>
    <div>
        <label>name</label>
        <input type="text" th:field="*{name}"/>
        <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>
    <div>
        <label>birthday</label>
        <input type="date" th:field="*{birthday}"/>
        <p style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
    </div>
    <div>
        <label>gender</label>
        <select th:field="*{gender}">
            <option value="Nam" >Nam</option>
            <option value="Nu" >Nu</option>
            <option  value="Khac">Khac</option>
        </select>

    </div>
    <div>
        <label>idCard</label>
        <input type="text" th:field="*{idCard}"/>
                <p style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>
    </div>
    <div>
        <label>numberPhone</label>
        <input type="text" th:field="*{numberPhone}"/>
                <p style="color: red" th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}"></p>
    </div>
    <div>
        <label>email</label>
        <input type="text" th:field="*{email}"/>
                <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    </div>
    <div>
        <label>address</label>
        <input type="text" th:field="*{address}"/>
                <p style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
    </div>



    <div>
        <label>customerType</label>
        <select th:field="*{customerType}">
            <option th:each="customerType:${customerTypeList}" th:text="${customerType.typeName}" th:value="${customerType.id}"></option>
            <!--            <p style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>-->
        </select>
    </div>
    <input type="submit" value="Create"/>
</form>
</body>
</html>