<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1 style="text-align: center"><a href="/customer/list">Danh sach customer</a></h1>
<h5 style="text-align: center" ><p th:text="${mess}"></p></h5>
<div>
    <h3><a href="/customer/create">Them moi customer</a></h3>


</div>
<form action="/customer/list" method="get">
    <input type="text" placeholder="Enter  Name" name="keyword">
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<div>
    <table border="1" id="example" class="table table-striped table-bordered">
        <tr>

            <th>#</th>
            <th>id</th>
            <th>code</th>
            <th>name</th>
            <th>birthday</th>
            <th>gender</th>
            <th>idCard</th>
            <th>numberPhone</th>
            <th>email</th>
            <th>address</th>
            <th>customerType</th>
            <th>funtion</th>

        </tr>
        <tr th:each="customer,state :${customerList}">
            <td  th:text="${state.count}"></td>
            <td  th:text="${customer.id}"></td>
            <td  th:text="${customer.code}"></td>
            <td  th:text="${customer.name}"></td>
            <td  th:text="${customer.birthday}"></td>
            <td  th:text="${customer.gender}"></td>
            <td  th:text="${customer.idCard}"></td>
            <td  th:text="${customer.numberPhone}"></td>
            <td  th:text="${customer.email}"></td>
            <td  th:text="${customer.address}"></td>
            <td  th:text="${customer.customerType.typeName}"></td>
            <td>
                <a th:href="@{/customer/edit/{id}(id=${customer.id})}">Edit</a>
                <a th:href="@{/customer/delete/{id}(id=${customer.id})}">Delete</a>
            </td>
        </tr>
    </table>


    <div>
        <a th:if="${customerList.hasPrevious()}"
           th:href="@{/customer/list(page=${customerList.number -1}, keyword=${keywordVal})}">
            Previous
        </a>
        <span th:text="${customerList.number+1}"></span>
        /
        <span th:text="${customerList.totalPages}"></span>
        <a th:if="${customerList.hasNext()}"
           th:href="@{/customer/list(page=${customerList.number +1}, keyword=${keywordVal})}">
            Next
        </a>
    </div>


</div>
</body>
</html>